* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

  .banner {
    width: 100%;
    height: 100vh;
    background-image: url(public/Home_Banner.jpeg);
    background-size: cover;
    background-position: center;
  }
  .desvanecido {
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    height: 20vh;
  }
  
  .navbar {
    width: 85%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  .logo {
    width: 80px;
    cursor: pointer;
    position: relative;
  }
  
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }
  
  .content h1 {
    font-size: 120px;
    font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Hanuman", serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }